html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../images/background_4.png");
    background-size: cover;
}

#gameWindow {
    background-color: #A197CF;
    /* background-color: #C6ABD4; */
    /* background-color: #DCBFD9; */

    margin-top: 5%;
    margin-bottom: 5%;
    height: 500px;
    
}

#gameTitle {
text-align: center;
font-size: 60px;
font-family: "Times New Roman", Times, serif;
color: indigo;
}

#startGame {
    position: relative;
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
    width: 100%;
}

#startGame:hover {
    background-color: #ffffff;
    border: 2px solid #044db7;
}

#timerMessage {
    font-size: 28px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 10px;
}